@inherits LayoutComponentBase

<div class="page">
    <div class="menuTop">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    <div class="menuFooter">
        <NavMenuFooter />
    </div>
</div>
