<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="AppDbContext" connectionString="server=fsd05library.database.windows.net;Initial Catalog=RestaurantNetwork;User Id=dbadmin;Password=Fsd05@@@;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework"
		 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="RestBlobConnectionString" value="DefaultEndpointsProtocol=https;AccountName=fsd05restaurant;AccountKey=6XSv86GSEh22J3ZCr08dFjq7AGS93WrC7LLqLL5bwlgeSVG2LlH1j/RcoYdNgsBdwNGdb4YThCPG+ASt58zCdA==;EndpointSuffix=core.windows.net" />
		<add key="BlobContainer" value="restaurant"/>
		<add key="BlobItemUrlPrefix" value="https://fsd05restaurant.blob.core.windows.net/restaurant/"/>
	</appSettings>
</configuration>

<!--
<configuration>
	<connectionStrings>
		<add name="AppDbContext" connectionString="server=.\SQLEXPRESS;Initial Catalog=AppDB;User Id=sa;Password=AAaa11!!;trustServerCertificate=true" 
		 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
-->