@model OSS.Models.User.EditViewModel

<div class="col-md-12">
    <form asp-action="Edit" asp-controller="User" class="mt-2 mb-4 row" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger" role="alert"></div>

        <div class="row col-12">
            <div class="form-group col-4">
                <img src="@Model.Avatar" width="200px" height="200" />
            </div>
            <div class="col-8 row">
                <div class="form-group col-12">
                    <label asp-for="Name" class="text-dark">User Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name"></span>
                </div>

                <div class="form-group col-12">
                    <label class="text-dark">User Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email"></span>
                </div>

                <div class="col-12">
                    <label class="text-dark">User Phone</label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone"></span>
                </div>
            </div>
        </div>
        <div class="col-12">
        </div>
        <br />
        <div class="col-4">
            <div class="custom-file mb-3 mr-3">
                <label class="custom-file-label" asp-for="UploadLogo">Logo</label>
                <input asp-for="UploadLogo" class="form-control" />
            </div>
        </div>
        <div class="col-12">
            <br />
        </div>
        <input readonly asp-for="RestaurantId" type="hidden" />
        <input readonly asp-for="Id" type="hidden" />
        <input readonly asp-for="idUserId" type="hidden" />
        <br />
        <div class="col-4"></div>
        <div class="col-4">
            <button type="submit" class="btn btn-primary">Edit</button>
        </div>
        <div class="col-4"></div>
    </form>
</div>
