
@{
    ViewData["Title"] = "CheckoutSuccess";
    var email = Context.Session.GetString("UserEmail");
}

<div class="my-5 mx-auto">
    <h1>Checkout Success!</h1>
    <p></p>
    <h4>Thank you for your purchase!</h4>
    <p></p>
    <button class="btn btn-primary btn-lg border-0 ">
        <a class="text-light" asp-controller="Order" asp-action="MyOrder" asp-route-username="email">
            Check your orders
        </a>
    </button>
</div>



