@page "/home";
@page "/home/{msg}"
@using DeliveryApp.Componants
@inject IJSRuntime JSRuntime

<div class="osahan-home-page">
        @if (msg != null)
    {
        <p class="py-2 pl-2 bg-warning">@msg</p>
    }
    <div class="shadow p-3 homepage-osahan-header bg-white">
        <div class="title d-flex align-items-center "> 
        <img src="img/logo_web1.png" class="img-fluid" />
            <div class="input-group border osahan-search mt-3 rounded-lg shadow-sm overflow-hidden">
                <div class="input-group-prepend">
                    <button class="border-0 btn btn-outline-secondary text-primary bg-white btn-block">
                        <i class="feather-search"></i>
                    </button>
                </div>
                <input type="text" class="shadow-none border-0 form-control pl-0"
                       placeholder="Search for Orders" aria-label="" aria-describedby="basic-addon1">
            </div>
            <div class="ml-auto d-flex align-items-center">
                <a class="text-dark mx-2 fs-18 top-nav-btn-cart position-relative" data-toggle="modal"
                   data-target="#exampleModal" href="#"><i class="feather-filter"></i></a>
            </div>
            <NavMenu />
        </div>
    </div>


    <div class="osahan-main">
        <AvailableList />

    </div>
    <div class="osahan-menu-fotter border rounded shadow fixed-bottom bg-white m-3 px-3 py-2 text-center">
    <div class="row">
        <div class="col selected">
            <a href="/home" class="text-danger small font-weight-bold text-decoration-none">
                    <p class="h4 m-0"><i class="feather-home bg-primary text-white"></i></p>
                Home
            </a>
        </div>
        <div class="col">
            <a href="/accepted" class="text-dark small font-weight-bold text-decoration-none">
                <p class="h4 m-0"><i class="feather-airplay"></i></p>
                Accepted
            </a>
        </div>
        <div class="col">
            <a href="/assigned" class="text-dark small font-weight-bold text-decoration-none">
                <p class="h4 m-0"><i class="feather-edit"></i></p>
                Assigned
            </a>
        </div>
        <div class="col">
            <a href="/pickedup" class="text-dark small font-weight-bold text-decoration-none">
                <p class="h4 m-0"><i class="feather-inbox"></i></p>
                PickedUp
            </a>
        </div>
        <div class="col">
            <a href="/completed" class="text-dark small font-weight-bold text-decoration-none">
                <p class="h4 m-0"><i class="feather-check-square"></i></p>
                Completed
            </a>
        </div>
    </div>
</div>
</div>
 


@code {
    [Parameter]
    public string msg { get; set; }
}

