@page "/"
<div class="login-page">

    <div class="font-weight-bold text-back text-decoration-none d-flex">
      
            <div class="col-11 mx-auto ">
                <br />
                <h2 class="text-dark my-0 "><img src="img/OIP.jpg" />Restaurant Network Delivery, </h2>
            <h2 class="text-dark my-0 ">Welcome! </h2>
                <p></p>
                <p class="text-50">Sign in to continue</p>
                <form class="mt-5 mb-4" method="post" action="Home">

                    <div class="form-group">
                        <label for="Email" class="text-dark">Email</label>
                        <input type="text" placeholder="" class="form-control" id="Email" />
                        
                    </div>
                    <div class="form-group">
                        <label for="Password" class="text-dark">Password</label>
                        <input type="password" placeholder="" class="form-control" id="Password" />
                        
                    </div>
                    <div class="or-osahan text-center my-4 border-bottom">
                        <span>OR</span>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-lg btn-light btn-block">
                            <img src="img/search.svg" alt=""> Login with Google
                        </button>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block">SIGN IN</button>
                </form>
              
                <div class="d-flex align-items-center justify-content-center">
                    <a href="Signup">
                        <p class="text-center m-0">Don't have an account? Sign up</p>
                    </a>
                </div>
            </div>
        
    </div>
</div>

@code {

}
