<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Restaurant Connection- Restaurant Support system</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/vendor/fontawesome-free/css/all.min.css" />
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>

<body class="fixed-bottom-bar">
      <header class="section-header">
      <section class="header-main shadow-sm bg-white">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-1">
              <a asp-controller="Home" asp-action="Index" class="brand-wrap mb-0">
                <img alt="#" class="img-fluid" src="~/img/logo_web1.png" />
              </a>
            </div>
            <div class="col-7 d-flex align-items-center m-none">
               <a class="nav-link border-0 text-dark py-3" asp-controller="Order" asp-action="Index" aria-controls="progress" aria-selected="false"> <i class="fa fa-folder-open text-warning"></i> Order</a>
              
                <a class="nav-link border-0 text-dark py-3 active" asp-controller="Category" asp-action="Index" aria-controls="progress" aria-selected="false"> <i class="fa fa-carrot text-warning"></i> Category</a>
              
                <a class="nav-link border-0 text-dark py-3" asp-controller="Item" asp-action="Index" aria-controls="completed" aria-selected="true"> <i class="fa fa-fish text-warning"></i> Food</a>
             
                <a class="nav-link border-0 text-dark py-3 " asp-controller="Restaurant" asp-action="Edit" aria-controls="completed" aria-selected="true"> <i class="fa fa-toolbox text-warning"></i> My Info</a>

            </div>

            <div class="col-4">
              <div class="d-flex align-items-center m-none">
                @if (User.Identity.IsAuthenticated)
                {
                  <a asp-controller="Auth" asp-action="Logout" class="widget-header mr-4 text-dark m-none">
                    <div class="icon d-flex align-items-center">
                      <i class="feather-user h6 mr-2 mb-0"></i>
                      <span>Logout</span>
                    </div>
                  </a>
                  <a class="widget-header mr-4 text-dark m-none">
                    <div class="icon d-flex align-items-center">
                      <span>Hello, @User.Identity.Name</span>
                    </div>
                  </a>
                }
                else
                {
                  <a asp-controller="Auth" asp-action="Login" class="widget-header mr-4 text-dark m-none">
                    <div class="icon d-flex align-items-center">
                      <i class="feather-user h6 mr-2 mb-0"></i>
                      <span>Sign in</span>
                    </div>
                  </a>
                }
              </div>
            </div>

          </div>
        </div>
      </section>
    </header> 

    <div class="container">
        <main role="main" class="pb-3"  style="min-height: 800px">
            @RenderBody()
        </main>
    </div>


   <footer class="section-footer border-top bg-dark" id="footer">
        <div class="container">
            <section class="footer-top padding-y py-5">
                <div class="row">
                    <aside class="col-md-4 footer-about">
                        <article class="d-flex pb-0">
                            <div><img alt="#" src="~/img/logo_web1.png" class="logo-footer mr-3" /></div>
                            <div>
                                <h6 class="title text-white">Restaurant Connection</h6>
                                <p class="text-muted">© 2023 All rights reserved</p>
                            </div>
                        </article>
                    </aside>

                    <aside class="col-sm-3 col-md-0 text-white">
                        <h6 class="title">Technical Support(24/7)</h6>
                        <ul class="list-unstyled hov_footer">
                            <li><a class="text-muted">800-000-0000</a></li>
                        </ul>
                    </aside>
                    <aside class="col-sm-3 col-md-0 text-white">
                        <h6 class="title">Contact Us</h6>
                        <ul class="list-unstyled hov_footer">
                            <li><a class="text-muted">Support@RN.COM</a></li>
                        </ul>
                    </aside>
                </div>
            </section>
        </div>
    </footer
    

     <script  src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/osahan.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
