<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Restaurant Connection- Restaurant Support system</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/vendor/fontawesome-free/css/all.min.css" />
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>

<body class="fixed-bottom-bar">
   

    <div >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



     <script  src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script  src="~/vendor/slick/slick.min.js"></script>
    <script  src="~/vendor/sidebar/hc-offcanvas-nav.js"></script>
    <script src="~/js/osahan.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
