@model RMS.Models.Category.EditViewModel

<div class="section">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-gray">
            @foreach (var path in Model.Paths)
            {
                <li class="breadcrumb-item"><a asp-controller="@path.ControllerName" asp-action="@path.ActionName">@path.Titile</a></li>
            }
        </ol>
    </nav>

    <br>
     @if (TempData["FailureMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["FailureMessage"]
            </div>
            <script>
                setTimeout(function() {
                    var flashMessage = document.querySelector('.alert-danger');
                    flashMessage.style.display = 'none';
                }, 10000);
            </script>
        }


    <div class="row pb-3">
        <div class="col-2">
            @* <a class="col-5 btn btn-primary" asp-controller="Item" asp-action="Add">Add</a> *@
        </div>
        <div class="col-12" style="text-align: center;">
            <form asp-action="Edit" method="post">
                
                <div class="form-group">
                    <label asp-for="Id">Category ID</label>
                    <input readonly asp-for="Id" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-block">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

