<h3>AddressDialog</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="Address Line 1">
            </RadzenLabel>
        </div>
        <div class="col-md-8">
            <RadzenTextBox style="width: 100%;" Name="Address1" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="City" />
        </div>
        <div class="col-md-8">
            <RadzenTextBox style="width: 100%;" Name="City" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="State/Province/Region" />
        </div>
        <div class="col-md-8">
            <RadzenTextBox style="width: 100%;" Name="State" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="Country" />
        </div>
        <div class="col-md-8">
            <RadzenTextBox style="width: 100%;" Name="Country" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="Zip/Postal Code" />
        </div>
        <div class="col-md-8">
            <RadzenTextBox style="width: 100%;" Name="Zip" />
        </div>
    </div>
</div>

@code {

}
