@page "/Restaurant"

<div class="rz-m-12 m-0">
    <RadzenBreadCrumb>
        <RadzenBreadCrumbItem Path="/" Text="Home" />
        <RadzenBreadCrumbItem Path="/Restaurant" Text="Restaurant" />
    </RadzenBreadCrumb>
</div>

