@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;
@inject UserManager<IdentityUser> userManager;
@{

    var isSignedIn = signInManager.IsSignedIn(User);
    var role = Context.Session.GetString("UserRole");
    if (role != "Operator")
    {
        isSignedIn = false;
    }
    var avatar = Context.Session.GetString("Avatar");
    var username = Context.Session.GetString("UserName");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Restaurant Network Opertation Support System</title>
    <link rel="stylesheet" type="text/css" href="~/vendor/slick/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="~/vendor/slick/slick-theme.min.css" />
    <link rel="stylesheet" href="~/vendor/fontawesome-free/css/all.min.css" />
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body class="fixed-bottom-bar">

    <header class="section-header">
        <section class="header-main shadow-sm bg-white">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-1">
                        <a asp-controller="Home" asp-action="Index" class="brand-wrap mb-0">
                            <img alt="#" class="img-fluid" src="~/img/logo_web1.png" />
                        </a>
                    </div>
                    @if (isSignedIn == true)
                    {
                        <div class="col-6 d-flex align-items-center m-none">
                            <a asp-controller="Category" asp-action="Index" class="widget-header mr-4 text-dark"><i class="fa fa-carrot text-warning"></i>
                                 Category
                            </a>
                            <a asp-controller="Restaurant" asp-action="Index" class="widget-header mr-4 text-dark"><i class="fa fa-utensils text-warning"></i>
                                 Restaurant
                            </a>
                            <a asp-controller="User" asp-action="Index" class="widget-header mr-4 text-dark"><i class="fa fa-user-plus text-warning"></i>
                                 User
                            </a>
                            <a asp-controller="Role" asp-action="Index" class="widget-header mr-4 text-dark"><i class="fa fa-users text-warning"></i>
                                 Role
                            </a>
                            <a asp-controller="Order" asp-action="Index" class="widget-header mr-4 text-dark"><i class="fa fa-folder-open text-warning"></i>
                                 Order
                            </a>
                        </div>
                        <div class="col-1 d-flex align-items-center m-none"></div>
                    <div class="col-4 row mt-4">
                        <div class="col-6 p-0">
                           <p><img alt="#" src="@avatar" class=" rounded-circle header-user mr-2 header-user" /> Hi @username</p>
                        </div>
                        <div class="col-6 mt-1 p-0">
                            <a asp-controller="Home" asp-action="Logout" class=" text-dark">
                                Logout
                            </a>
                        </div>
                    </div> 
                    }
                    else {
                <div class="col-10 m-none"></div>
                <div class="col-1">
                    <a asp-controller="Home" asp-action="Login" class="widget-header mr-4 text-dark m-none">
                           Login
                    </a>
                </div>
                    }
                </div>
            </div>
        </section>
    </header>

    <div class="container" style="display: flex; flex-direction: column; min-height: 100vh;">
    <main role="main" class="pb-3" style="flex: 1; min-height: 900px;">
        @RenderBody()
    </main>
</div>

<footer class="section-footer border-top bg-dark" id="footer">
    <div class="container">
        <section class="footer-top padding-y py-5">
            <div class="row">
                <aside class="col-md-4 footer-about">
                    <article class="d-flex pb-0">
                        <div><img alt="#" src="~/img/logo_web1.png" class="logo-footer mr-3" /></div>
                        <div>
                            <h6 class="title text-white">Restaurant Network</h6>
                            <p class="text-muted">© 2023 All rights reserved</p>
                        </div>
                    </article>
                </aside>

                <aside class="col-sm-3 col-md-0 text-white">
                    <h6 class="title">Technical Support(24/7)</h6>
                    <ul class="list-unstyled hov_footer">
                        <li><a class="text-muted">800-000-0000</a></li>
                    </ul>
                </aside>
                <aside class="col-sm-3 col-md-0 text-white">
                    <h6 class="title">Contact Us</h6>
                    <ul class="list-unstyled hov_footer">
                        <li><a class="text-muted">Support@RN.COM, Sale@RN.COM</a></li>
                    </ul>
                </aside>
            </div>
        </section>
    </div>
</footer>



    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/slick/slick.min.js"></script>
    <script src="~/js/osahan.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
