@using RmsApp.Services
@using RmsApp.Dtos
@inject ICategoryService CategoryService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@page "/category"

<h1>Category List</h1>
<ul class="breadcrumb breadcrumb-gray">
    @foreach (var path in Paths)
    {
             <li class="breadcrumb-item"><NavLink href="@path.Path">@path.Title</NavLink></li>
    }
</ul>
<div class="row pb-3">
            <div class="col-2">
                <a class="btn btn-icon-only btn-pill btn-primary" ><i class="fa fa-plus"></i></a>
            </div>
</div>
<br>

@if (Categories != null && Categories.Any())
{
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>
                        <button>Edit</button>
                    </td>
                    <td>
                        <button>Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No categories found.</p>
}

@code {
    public List<TabPath> Paths = new List<TabPath>
        {
        new TabPath { Title = "Home", Path = "/" },
        new TabPath { Title = "Category", Path = "/category" },
        };
    public List<CategoryDto> Categories { get; set; }

    public async Task OnInitializedAsync()
    {
        Categories = await CategoryService.ListCategoryAsync(1);

    } 
}

