@using RmsApp.Services
@using RmsApp.Dtos
@inject ICategoryService CategoryService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@page "/category"

<h1>Category List</h1>
<button>New Category</button>
<br>

@if (Categories != null && Categories.Any())
{
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>
                        <button>Edit</button>
                    </td>
                    <td>
                        <button>Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No categories found.</p>
}

@code {
    public List<CategoryDto> Categories { get; set; }
    public async Task OnGetAsync()
    {
        Categories = await CategoryService.ListCategoryAsync(1);
    } 
}

