<div class="osahan-menu-fotter border rounded shadow fixed-bottom bg-white m-3 px-3 py-2 text-center">
    <div class="row">
        <div class="col selected">
            <a href="/home" class="text-danger small font-weight-bold text-decoration-none">
                <p class="h4 m-0"><i class="feather-home text-danger"></i></p>
                Home
            </a>
        </div>
        <div class="col">
            <a href="/accepted" class="text-dark small font-weight-bold text-decoration-none">
                <p class="h4 m-0"><i class="feather-airplay"></i></p>
                Accepted
            </a>
        </div>
        <div class="col">
            <a href="/assigned" class="text-dark small font-weight-bold text-decoration-none">
                <p class="h4 m-0"><i class="feather-edit"></i></p>
                Assigned
            </a>
        </div>
        <div class="col">
            <a href="/pickedup" class="text-dark small font-weight-bold text-decoration-none">
                <p class="h4 m-0"><i class="feather-inbox"></i></p>
                PickUp
            </a>
        </div>
        <div class="col">
            <a href="/completed" class="text-dark small font-weight-bold text-decoration-none">
                <p class="h4 m-0"><i class="feather-check-square"></i></p>
                Completed
            </a>
        </div>
    </div>
</div>

@code {

}

