<div class="btn-group">
    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="feather-menu"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="/Home"><i class="feather-home mr-2"></i> Homepage</a>   
        <a class="dropdown-item" href="/Profile"><i class="feather-user mr-2"></i> Profile</a>
        <a class="dropdown-item" href=""<i class="feather-log-out mr-2"></i>Logout</a>             
    </div>
</div>

@code {

}
