@page "/"
@using RestaurantNetowrkApp.Componants
@inject IJSRuntime JSRuntime


<div class="osahan-home-page">
    <div class="shadow p-3 homepage-osahan-header bg-white">
        <div class="title d-flex align-items-center "> 
          
            <div class="input-group border osahan-search mt-3 rounded-lg shadow-sm overflow-hidden">               
                <div class="input-group-prepend">
                    <button class="border-0 btn btn-outline-secondary text-primary bg-white btn-block">
                        <i class="feather-search"></i>
                    </button>
                </div>
                <input type="text" class="shadow-none border-0 form-control pl-0"
                       placeholder="Search for restaurants or dishes" aria-label="" aria-describedby="basic-addon1">
            </div>
            <div class="ml-auto d-flex align-items-center">
                <a class="text-dark mx-2 fs-18 top-nav-btn-cart position-relative" data-toggle="modal"
                   data-target="#exampleModal" href="#"><i class="feather-filter"></i></a>
            </div> 
            <DropDownMenu />
        </div>
    </div>

    <div class="osahan-main">
        <RestCategory />

        <div class="px-3 pt-3 title d-flex align-items-center">
            <h6 class="m-0 font-weight-bold">Trending this week</h6>
            <a class="font-weight-bold ml-auto" href="/Restaurant/Trending">
                View all <i class="feather-chevrons-right"></i>
            </a>
        </div>

        <div id="trending-slider">
            <div class="osahan-slider-item py-3 px-1">
                 <RestaurantCard />
            </div>
            <div class="osahan-slider-item py-3 px-1">
                <RestaurantCard />
            </div>
            <div class="osahan-slider-item py-3 px-1">
                <RestaurantCard />
            </div>
            <div class="osahan-slider-item py-3 px-1">
                <RestaurantCard />
            </div>
        </div>

        <div class="px-3 pt-4 pb-3 title d-flex align-items-center">
            <h6 class="m-0 font-weight-bold">Most popular</h6>
            <a class="font-weight-bold ml-auto" href="/Restaurant/ListAll">
                26 places <i class="feather-chevrons-right"></i>
            </a>
        </div>

        <div class="most_popular px-3 pb-5">
            <div class="row">
                <div class="col-6 col-sm-4 pr-1">
                    <RestaurantCard />
                </div>
                <div class="col-6 col-sm-4 pl-1">
                    <RestaurantCard />
                </div>
                <div class="col-6 col-sm-4 pr-1">
                    <RestaurantCard />
                </div>
                <div class="col-6 col-sm-4 pl-1">
                    <RestaurantCard />
                </div>
            </div>
        </div>
       
    </div>
</div>
<RestaurantFilter />
<NavMenuFooter />

@code {
    bool firstRender = true;
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeAsync<object>("homeSlick");
            firstRender = false;
        }
       
    }
}
