@page "/Account/Login"
@page "/Account/Login/{msg}"
@using Serilog;
@inject NavigationManager NavigationManager
@inject Data.SessionStorageAccessor SessionStorageAccessor
@using Services;
@inject AuthService authService


<div class="login-page ">
	<a class="font-weight-bold text-back text-decoration-none d-flex" href="">
		<i class="feather-chevron-left"></i>
		<span class="pl-2">Back</span>
	</a>
	@if (msg != null)
	{
		<p class="py-2 pl-2 bg-warning">@msg</p>
	}
	<h2 class="mb-0 mt-2">Hello There.</h2>
	<p class="text-50">Login to continue</p>
	<EditForm class="mt-4 " id="signupForm" Model="@model"  OnValidSubmit="LoginPost" >
        <DataAnnotationsValidator />
        <div class="form-group">
            <input @bind-value="model.userName" type="text" placeholder="Name" class="form-control"/>
			<ValidationMessage For="@(() => model.userName)" />
        </div>
		<div class="form-group">
			<input @bind-value="model.password" type="password" placeholder="Password" class="form-control" />
			<ValidationMessage For="@(() => model.password)" />
		</div>
		<div class="or-osahan text-center my-4 border-bottom">
			<span>OR</span>
		</div>
		<div class="mb-3">
			<button class="btn btn-lg btn-light btn-block">
				<img src="img/search.svg" alt=""> Login with Google
			</button>
		</div>
		<button class="btn btn-primary btn-lg btn-block mt-5" type="submit">Log in</button>
	</EditForm>

	<div class="d-flex align-items-center justify-content-center">
		<a href="Account/Signup">
			<p class="text-center m-0">Don't have an account? Sign up</p>
		</a>
	</div>
</div>

@code {
	[Parameter]
	public string msg{ get; set; }

	private class signupModel{
		public string userName{ get; set; }
		public string password { get; set; }
	}

	private signupModel model = new signupModel();

	private async Task LoginPost()
	{
		var result =  await authService.Login(model.userName, model.password);
 
		if (result)
		{
			await SessionStorageAccessor.SetValueAsync("userEmail", model.userName);
			string msg = $"Welcome {model.userName}! Login secceed.";
			NavigationManager.NavigateTo($"/{msg}");
		}
	}
	
}
