@page "/Order/Details/1"

<div class="OrderDetails">
    <div class="p-3 osahan-inner-header bg-white shadow-sm">
        <a class="font-weight-bold text-dark text-back text-decoration-none " href="/Order">
            <i class="feather-chevron-left"></i>
            <span class="ml-3 h6 mb-0">Order Details</span>
        </a>
    </div>
</div>
@code {

}
