@page "/Restaurant/Trending"
@using RestaurantNetowrkApp.Componants
@using Data.Dto
@using System.Net.Http.Json;


<div class="osahan-trending">
    <div class="p-3 osahan-inner-header bg-white shadow-sm">
        <div class="d-flex align-items-center">
            <a href=""><i class="feather-chevron-left"></i></a>
            <span class="ml-3 h6 mb-0">Trending</span>
            <div class="ml-auto d-flex align-items-center">
                <a class="text-dark mx-2 fs-18 top-nav-btn-cart position-relative" data-toggle="modal"
                   data-target="#exampleModal" href="#"><i class="feather-filter"></i></a>
            </div>
        </div>
    </div>

    <div class="most_popular p-3">
        <div class="row">
            @foreach (var rest in trendingRests)
            {
                <div class="col-6 pr-2">
                    <RestaurantCard Rest="rest" />
                </div>
            }
        </div> 
     </div>
</div>

<RestaurantFilter />
<NavMenuFooter />

@code{
    public List<RestaurantDto> trendingRests { get; set; }

    public HttpClient httpClient = new HttpClient();

    protected override async Task OnInitializedAsync()
    {
        httpClient.BaseAddress = new Uri("http://localhost:5064/");

        trendingRests = new List<RestaurantDto>();

        trendingRests = (await httpClient.GetFromJsonAsync<List<RestaurantDto>>($"api/restaurant/listweeklytrends")).ToList();
    }
}
