@model OSS.Models.Order.DetailViewModel

<div class="section">
    
    <partial name="../CommonNavHeader" />

    <div class="row">
        <partial name="OrderDetailHeader" />
    </div>
    <div class="row">
        <partial name="OrderDetailTable" />
    </div>

</div>