<div class="btn-group">
    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="feather-menu"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href=""><i class="feather-home mr-2"></i> Homepage</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href=""<i class="feather-user mr-2"></i>Login</a>
        <a class="dropdown-item" href="signup.html"><i class="feather-edit-2 mr-2"></i>Register</a>
        <a class="dropdown-item" href="forgot_password.html"><i class="feather-lock mr-2"></i>Forgot Password</a>
        <a class="dropdown-item"  href="#"><i class="feather-user mr-2"></i> Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/Restaurant/Trending"><i class="feather-trending-up mr-2"></i> Trending</a>
        <a class="dropdown-item" href="recipe.html"><i class="feather-file-text mr-2"></i> Recipe</a>
        <a class="dropdown-item" href="checkout.html"><i class="feather-shopping-bag mr-2"></i> Checkout</a>
        <a class="dropdown-item" href="payment.html"><i class="feather-credit-card mr-2"></i> Payment</a>
    </div>

</div>

@code {

}
