@inject Data.SessionStorageAccessor sessionStorageAccessor
@inject NavigationManager navigationManager;

<div class="osahan-menu-fotter border rounded shadow fixed-bottom bg-white m-3 px-3 py-2 text-center">
    <div class="row">
        <div class="col selected">
            <a href="" class="text-danger small font-weight-bold text-decoration-none">
                <p class="h4 m-0"><i class="feather-home text-danger"></i></p>
                Home
            </a>
        </div>
        <div class="col">
            <a href="/Restaurant/Trending" class="text-dark small font-weight-bold text-decoration-none">
                <p class="h4 m-0"><i class="feather-map-pin"></i></p>
                Trending
            </a>
        </div>
        <div class="col osahan-menu-logo">
            <a href="checkout.html" class="text-white small font-weight-bold text-decoration-none">
                <img src="img/nav-logo.png" class="img-fluid" />
            </a>
        </div>
        <div class="col">
            <a href="/Order" class="text-dark small font-weight-bold text-decoration-none">
                <p class="h4 m-0"><i class="feather-heart"></i></p>
                My Orders
            </a>
        </div>
        <div class="col">
            <a @onclick = "navToProfile" class="text-dark small font-weight-bold text-decoration-none">
                <p class="h4 m-0"><i class="feather-user"></i></p>
                Profile
            </a>
        </div>
    </div>
</div>

@code {
    private string userEmail;

    protected override async Task OnInitializedAsync()
    {
        userEmail = await sessionStorageAccessor.GetValueAsync<string>("userEmail");
    }

    private void navToProfile()
    {
        if (userEmail == null)
        {
            string msg = "Please Login first";
            navigationManager.NavigateTo($"/Account/Login/{msg}");
        }
        else
        {
            navigationManager.NavigateTo($"/Account/Profile/{userEmail}");
        }
    }

}
