<div class="gold-members d-flex align-items-center justify-content-between px-3 py-2 border-bottom">
    <div class="media align-items-center">
        <div class="media-body">
            <p class="m-0">Chicken Tikka Sub</p>
        </div>
    </div>
    <div class="d-flex align-items-center">
        <div class="osahan-quantity">
            <input type="button" value="-" class="minus">
            <input type="text" name="quantity" value="1" title="Qty" class="qty" size="4">
            <input type="button" value="+" class="plus">
        </div>
        <p class="text-gray mb-0 float-right ml-2 text-muted small">$628</p>
    </div>
</div>

@code {

}
