<div class="shadow bg-white p-3 mb-3 clearfix">
    <p class="mb-1">SubTotal <span class="float-right text-dark">$3140</span></p>
    <p class="mb-1">GST/HST <span class="float-right text-dark">$314</span></p>
    <p class="mb-1">PST/TST/QST <span class="float-right text-dark">$157</span></p>
    <p class="mb-1">
        Delivery Fee<span class="text-info ml-1"><i class="icofont-info-circle"></i></span><span class="float-right text-dark">$10</span>
    </p>
    <hr>
    <h6 class="font-weight-bold mb-0">Total <span class="float-right">$1329</span></h6>
</div>

@code {

}
