<ul class="rating-stars list-unstyled">
    <li>
        <i class="feather-star star_active"></i>
        <i class="feather-star star_active"></i>
        <i class="feather-star star_active"></i>
        <i class="feather-star star_active"></i>
        <i class="feather-star"></i>
    </li>
</ul>
<p class="label-rating text-white-50 ml-2 small m-0"> (245 Reviews)</p>

@code {

}
