@using Services;
@inject RatingService ratingService;

<div class="star-rating ml-auto">
    <div class="d-inline-block h6 m-0">
    @if(yellowStars != null)
    {
        @foreach(int i in yellowStars)
        {
            <i class="feather-star text-warning ml-1" @onclick="() =>rate(target, targetId, username, i)"></i>

        }
    }
    @if (blackStarts != null)
    {
        @foreach(int j in blackStarts)
        {
            <i class="feather-star text-dark ml-1"  @onclick="() =>rate(target, targetId, username, j)"></i>
        }
    }
       
    </div>
</div>

@code {
    [Parameter] public string targetId { get; set; }
    [Parameter] public string username { get; set; }
    [Parameter] public string target { get; set; }
    private int score = 0;
    private int[] yellowStars;
    private int[] blackStarts;

    protected override async Task OnInitializedAsync()
    {
        blackStarts = new int[]{1,2,3,4,5};
    }

    private async Task rate(string target, string targetId, string username, int value)
    {
        bool result = false;
        if(target == "rest")
        {
            result = await ratingService.rateRestaurant(targetId, username, value);
        }

        if (result)
        {
            score = value;
            yellowStars = new int[score];
            for (int i = 0; i < score; i++)
            {
                yellowStars[i] = i + 1;
            }
            if (score < 5)
            {
                blackStarts = new int[5 - score];
                for (int i = score; i < 5; i++)
                {
                    blackStarts[i-score] = i + 1;
                }
            }
            StateHasChanged();
        }
    }
}
