<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header align-items-center">
                <h5 class="modal-title" id="exampleModalLabel">Filter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="feather-x float-right"></i>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="osahan-filter">
                    <div class="filter">
                        <div class="filters-card border-bottom">
                            <div class="filters-card-header" id="headingTwo">
                                <h6 class="mb-0">
                                    <a href="#" class="btn-link p-3" data-toggle="collapse"
                                       data-target="#collapsetwo" aria-expanded="true"
                                       aria-controls="collapsetwo">
                                        All cuisines
                                        <i class="feather-chevron-down float-right"></i>
                                    </a>
                                </h6>
                            </div>
                            <div class="filters-card-body pb-3 card-shop-filters">
                                <form class="filters-search px-3">
                                    <div class="form-group mb-2 position-relative">
                                        <i class="feather-search"></i>
                                        <input type="text" class="form-control" placeholder="Start typing to search...">
                                    </div>
                                </form>
                                <div class="custom-control custom-checkbox p-0">
                                    <input type="checkbox" class="custom-control-input" id="cb6">
                                </div>
                                <div class="custom-control custom-checkbox p-0">
                                    <input type="checkbox" class="custom-control-input" id="cb7">
                                </div>
                                <div class="custom-control custom-checkbox p-0">
                                    <input type="checkbox" class="custom-control-input" id="cb8">
                                </div>
                                <div class="custom-control custom-checkbox p-0">
                                    <input type="checkbox" class="custom-control-input" id="cb9">
                                </div>
                                <div class="custom-control custom-checkbox p-0">
                                    <input type="checkbox" class="custom-control-input" id="cb10">
                                </div>
                                <div class="custom-control custom-checkbox p-0">
                                    <input type="checkbox" class="custom-control-input" id="cb11">
                                </div>
                                <div class="custom-control custom-checkbox p-0">
                                    <input type="checkbox" class="custom-control-input" id="cb12">
                                </div>
                                <div class="custom-control custom-checkbox p-0">
                                    <input type="checkbox" class="custom-control-input" id="cb13">
                                </div>
                                <div class="custom-control custom-checkbox p-0">
                                    <input type="checkbox" class="custom-control-input" id="cb14">
                                </div>
                                <div class="mt-1 px-3"><a href="#" class="link">See all</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer p-0 border-0 p-3">
                <div class="col-6 m-0 pl-0 pr-1">
                    <button type="button" class="btn border btn-lg btn-block" data-dismiss="modal">Clear</button>
                </div>
                <div class="col-6 m-0 pr-0 pl-1">
                    <button type="button" class="btn btn-primary btn-lg btn-block"
                            data-dismiss="modal">
                        Apply
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@code {

}
