
<div class="cat-slider border-bottom">
    <div class="cat-item px-1 py-3">
        <a class="d-block text-center" href="trending.html">
            <img src="img/icons/1.png" class="img-fluid mb-2 shadow">
            <p class="m-0 small">Healthy</p>
        </a>
    </div>
    <div class="cat-item px-1 py-3">
        <a class="d-block text-center" href="trending.html">
            <img src="img/icons/2.png" class="img-fluid mb-2 shadow">
            <p class="m-0 small">Pizza</p>
        </a>
    </div>
    <div class="cat-item px-1 py-3">
        <a class="d-block text-center" href="trending.html">
            <img src="img/icons/3.png" class="img-fluid mb-2 shadow">
            <p class="m-0 small">Burger</p>
        </a>
    </div>
    <div class="cat-item px-1 py-3">
        <a class="d-block text-center" href="trending.html">
            <img src="img/icons/4.png" class="img-fluid mb-2 shadow">
            <p class="m-0 small">Rolls</p>
        </a>
    </div>
    <div class="cat-item px-1 py-3">
        <a class="d-block text-center" href="trending.html">
            <img src="img/icons/5.png" class="img-fluid mb-2 shadow">
            <p class="m-0 small">Chaat</p>
        </a>
    </div>
</div>
@code {

}
